<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">IoT Security Guidelines</h1>
    <p class="lead">Kétly Gonçalves Machado and Daniel Macêdo Batista</p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mt-2 mb-4">
      <div class="text-center" role="alert">
        <h3>Document's Mindmap</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <img src="assets/imgs/iot-sg-ref-1.png" class="img-fluid shadow" alt="">
    </div>
    <div class="col-6">
      <img src="assets/imgs/iot-sg-ref-2.png" class="img-fluid shadow" alt="">
    </div>
  </div>
</div>